#toggle{
    display: none;
}    
#label_toggle{
    position:absolute;
    top: 120px;
    right: 10px;
    font-size: 2em;
    color:rebeccapurple;
    cursor: pointer;
}    

.orange{
    background-color: #be0fce;
    color:rgb(205, 218, 27);
    transition: all 1s ease;
}