<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/userstyle.css">
    <link rel="icon" href="/icon.png" type="image/x-icon">
    <title>Contact-Us</title>
</head>
<body>
  <div id="preloader">
    <div class="cup">
      <div class="handle"></div>
      </div>
  </div>
    <header class="header">
        <nav>
          <div class="nav__header">
            <div class="nav__logo">
              <a href="#">
                <img
                  src="/imagen/logo-dark.png"
                  alt="logo"
                  class="nav__logo-dark"/>
                <img
                  src="/imagen/logo-white.png"
                  alt="logo"
                  class="nav__logo-white"/>
              </a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
              <i class="ri-menu-line"></i>
            </div>
          </div>
          <ul class="nav__links" id="nav-links">
            <li><a href="/components/usuario/home.html">HOME</a></li>
            <li><a href="/components/usuario/special.html">ESPECIAL</a></li>
            <li><a href="/components/chatbot/bot.html">CHAT-BOT</a></li>
            <li><a href="/components/usuario/privacidad.html">PRIVACIDAD</a></li>
            <li><a href="/components/usuario/menu.html">MENU</a></li>
            <li><a href="/components/usuario/events.html">MENU FESTIVO</a></li>
            <li><a href="/index.html">EXIT</a></li>
          </ul>
        </nav>
    </header>
        <!-- Inici anuncio -->
    <section class="reservation" id="contact">
        <div class="section__container reservation__container">
          <h3>contactanos</h3>
          <h2 class="section__header">Para cualquier mejora</h2>
          <form action="/">
            <input type="text" placeholder="NAME" />
            <input type="email" placeholder="EMAIL" />
            <input type="date" placeholder="DATE" />
            <input type="time" placeholder="TIME" />
            <input type="number" placeholder="PEOPLE" />
            <button class="btn" type="submit">Comentanos</button>
          </form>
        </div>
        <img
          src="/imagen/reservation-bg-1.png"
          alt="reservation"
          class="reservation__bg-1"
        />
        <img
          src="/imagen/reservation-bg-2.png"
          alt="reservation"
          class="reservation__bg-2"
        />
      </section>

      <section class="section__container event__container" id="event">
        <div class="event__content">
          <div class="event__image">
            <img src="/imagen/event.png" alt="event" />
          </div>
          <div class="event__details">
            <h3>Quienes somos</h3>
            <h2 class="section__header">La mejor opción</h2>
            <p class="section__description">
                Somos Coffe-Itiz, tu oasis universitario. Un espacio donde la comunidad estudiantil se reúne para recargar energías, compartir ideas y vivir experiencias únicas. Ofrecemos una amplia variedad de cafés de especialidad, preparados con granos de origen y métodos artesanales, así como opciones saludables y deliciosas para todos los gustos. Nuestro ambiente acogedor y moderno, junto con una conexión Wi-Fi de alta velocidad y zonas de estudio cómodas, te permitirán concentrarte en tus tareas o simplemente relajarte. En Café Concepto creemos en la importancia de la sostenibilidad, por lo que utilizamos productos locales y de comercio justo, y promovemos el reciclaje. ¡Únete a nuestra comunidad y descubre tu nuevo lugar favorito en el campus!.
            </p>
          </div>
        </div>
      </section>
    

      <footer class="footer">
        <div class="section__container footer__container">
          <div class="footer__logo">
            <img src="/imagen/logo-white.png" alt="logo" />
          </div>
          <div class="footer__content">
            <p>
                Bienvenido a Coffe-Itiz, donde se unen la pasión por la comida y
                la hospitalidad genuina. Nuestra historia es una de dedicación a la
                creación de la experiencia de atencion y sabor, desde la obtención de los mejores
                ingredientes hasta la entrega de un sabor unico en cada bocado.
            </p>
            <div>
              <ul class="footer__links">
                <li>
                  <span><i class="ri-map-pin-2-fill"></i></span>
                  Av Telecomunicaciones, Chinam Pac de Juárez, Iztapalapa, 09208 Ciudad de México, CDMX
                </li>
                <li>
                  <span><i class="ri-mail-fill"></i></span>
                  coffe-itiz@gmail.com
                </li>
              </ul>
              <div class="footer__socials">
                <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                <a href="#"><i class="ri-instagram-fill"></i></a>
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-whatsapp-fill"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bar">
          Copyright © 2024 Web Design Mastery -- Coffe-Itiz.
        </div>
      </footer>
      <script src="/js/usermain.js"></script>

</body>
</html>