<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport"content="width=device-width, initial-scale=1.0"/>
		<title>Menu</title>
		<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
		<link rel="stylesheet" href="/css/menustyles.css">
		<link rel="stylesheet" href="/css/userstyle.css">
		<link rel="icon" href="/icon.png" type="image/x-icon">
	</head>
	<body>
		<div id="preloader">
			<div class="cup">
			  <div class="handle"></div>
			  </div>
		  </div>
			<!-- barra de navegacion -->
			<header class="header">
				<nav>
				  <div class="nav__header">
					<div class="nav__logo">
					  <a href="#">
						<img
						  src="/imagen/logo-dark.png"
						  alt="logo"
						  class="nav__logo-dark"/>
						<img
						  src="/imagen/logo-white.png"
						  alt="logo"
						  class="nav__logo-white"/>
					  </a>
					</div>
					<div class="nav__menu__btn" id="menu-btn">
					  <i class="ri-menu-line"></i>
					</div>
				  </div>
				  <ul class="nav__links" id="nav-links">
					<li><a href="/components/usuario/home.html">HOME</a></li>
					<li><a href="/components/usuario/special.html">ESPECIAL</a></li>
					<li><a href="/components/chatbot/bot.html">CHAT-BOT</a></li>
					<li><a href="/components/usuario/privacidad.html">PRIVACIDAD</a></li>
					<li><a href="/components/usuario/events.html">MENU TEMPORADA</a></li>
					<li><a href="/components/usuario/contact.html">CONTACTANOS</a></li>
					<li><a href="/index.html">EXIT</a></li>
				  </ul>
				</nav>
		</header>

		<form class="search-form">
			<input type="search" placeholder="Buscar..." />
			<button class="btn-search">
			<i class="fa-solid fa-magnifying-glass"></i>
			</button>
		</form>
				
		<div class="slider">
			<div class="slide-track">
				<div class="slide">
					<img src="	/img/arroz-leche.jpg" >
				</div>
				<div class="slide">
					<img src="/img/burritos.jpg" >
				</div>
				<div class="slide">
					<img src="/img/cafe.jpg" >
				</div>
				<div class="slide">
					<img src="/img/chilaquiles.jpg" >
				</div>
				<div class="slide">
					<img src="/img/gorditas.jpg" >
				</div>
				<div class="slide">
					<img src="/img/hamburguesa.jpg" >
				</div>
				<div class="slide">
					<img src="/img/chocolate.jpg" >
				</div>
				<div class="slide">
					<img src="/img/coctel.jpg" >
				</div>
				<div class="slide">
					<img src="/img/huevos.jpg" >
				</div>
		<!-- Slide 2parte -->
				<div class="slide">
					<img src="/img/hotdogs.jpg" >
				</div>
				<div class="slide">
					<img src="/img/licuados.jpg" >
				</div>
				<div class="slide">
					<img src="/img/pechuga.jpg" >
				</div>
				<div class="slide">
					<img src="/img/nachos.jpg" >
				</div>
				<div class="slide">
					<img src="/img/pambazo.jpg" >
				</div>
				<div class="slide">
					<img src="/img/papasfrancesa.jpg" >
				</div>
				<div class="slide">
					<img src="/img/sandwich.jpg" >
				</div>
				<div class="slide">
					<img src="/img/refrescos.jpg" >
				</div>
				<div class="slide">
					<img src="/img/tortaschilaquiles.jpg" >
				</div>
			</div>
		</div>
	

		<main class="main-content">		
			<section class="container top-categories">
				<h1 class="heading-1">Mejores Categorías</h1>
				<div class="container-categories">
					<div class="card-category category-licuados">
						<p>Bebidas</p>
						<span><a href="/components/usuario/categoria_producto/producto/bebidas.html">Ver más</a> </span>
					</div>
					

					<div class="card-category category-desayuno">
						<p>Desayunos</p>
						<span><a href="/components/usuario/categoria_producto/producto/desayunos.html">Ver más</a></span>

					</div>

					<div class="card-category category-postres">
						<p>Postres</p>
						<span><a href="/components/usuario/categoria_producto/producto/postres.html">Ver más</a></span>

					</div>

					<div class="card-category category-antojitos">
						<p>Antojitos</p>
						<span><a href="/components/usuario/categoria_producto/producto/antojitos.html">Ver más</a></span>


					</div>

					<div class="card-category category-bebidas">
						<p>Snack</p>
						<span><a href="/components/usuario/categoria_producto/producto/snack.html">Ver más</a></span>
					</div>
				</div>
			</section>

			<section class="container top-products">
				<h1 class="heading-1">Mejores Productos</h1>
				<meta name="keywords" content="destacados, recientes, mejores vendidos">
				<!--<div class="container-options">
					<span class="active">Destacados</span>
					<span>Más recientes</span>
					<span>Mejores Vendidos</span>
				</div>-->

				
				<div class="container-products">
		
                       <!--producto 1--->

					   <div class="card-product">
						<div class="container-img">
							<img src="/img/verdes.jpg" alt="Enchiladas">
							<div class="button-group">
								<span>
									<i class="fa-regular fa-eye"></i>
								</span>
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
								<span>
									<i class="fa-solid fa-code-compare"></i>
								</span>
							</div>
						</div>

						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Enchiladas Verdes</h3>

							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$30</p>
						</div>
					</div>


                     <!--producto 2--->
					 <div class="card-product">
						<div class="container-img">
							<img src="/img/chilaquiles.jpg" alt="Chilaquiles" />
							<div class="button-group">
								<span>
									<i class="fa-regular fa-eye"></i>
								</span>
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
								<span>
									<i class="fa-solid fa-code-compare"></i>
								</span>
							</div>
						</div>

						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Chilaquiles Verdes</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$30</p>
						</div>
					</div>


                  <!--producto 3--->

				<div class="card-product">
					<div class="container-img">
						<img src="/img/huevos.jpg" alt="huevos"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>

					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Huevos al gusto</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$30</p>
					</div>
				</div>


                <!--producto 4--->  

                        <div class="card-product">
						<div class="container-img">
							<img src="/img/sincronizadas.jpg" alt="sincronizadas"/>
							<div class="button-group">
								<span>
									<i class="fa-regular fa-eye"></i>
								</span>
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
								<span>
									<i class="fa-solid fa-code-compare"></i>
								</span>
							</div>
						</div>

						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>sincronizadas</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$30</p>
						</div>
					</div>
				

                <!--producto 5--->

				<div class="card-product">
					<div class="container-img">
						<img src="/img/tortaschilaquiles.jpg" alt="tortas de chilaquiles"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
				
				
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Tortas de chilaquiles</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$45</p>
					</div>
				</div>
			 </div>
                <!--producto 6--->

				<div class="card-product">
					<div class="container-img">
						<img src="/img/sandwich.jpg" alt="sandwich">
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
				
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Sandwich</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$30</p>
					</div>
				</div>
			

                <!--producto 7--->

				<div class="card-product">
					<div class="container-img">
						<img src="/img/hotdogs.jpg" alt="hot dogs"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
				
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Hot dogs</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$20</p>
					</div>
				</div>
			
				<!--producto 8 --->

				<div class="card-product">
					<div class="container-img">
						<img src="/img/hotcakes.jpg" alt="hot cakes">
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
				
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Hot cakes</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$40</p>
					</div>
				</div>

                   <!--producto 9 --->

				   <div class="card-product">
					<div class="container-img">
						<img src="/img/pechuga.jpg" alt="pechuga asada">
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
				
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Pechuga Asada</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$20</p>
					</div>
				</div>

				   <!--producto 10 --->

				   <div class="card-product">
					<div class="container-img">
						<img src="/img/hamburguesa.jpg" alt="hamburguesa">
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
				
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Hamburguesa</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$40</p>
					</div>
				</div>

				   

				   <!--producto 11 --->

				   <div class="card-product">
					<div class="container-img">
						<img src="/img/tacos.jpg" alt="tacos">
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
				
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Tacos</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$35</p>
					</div>
				</div>

                   <!--producto 12 --->

					<div class="card-product">
						<div class="container-img">
							<img src="/img/tortas.jpg" alt="tortas"/>
							<div class="button-group">
								<span>
									<i class="fa-regular fa-eye"></i>
								</span>
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
								<span>
									<i class="fa-solid fa-code-compare"></i>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Tortas</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$35</p>
						</div>
					</div>
				
			
			       <!--producto 13--->

				   <div class="card-product">
					<div class="container-img">
						<img src="/img/cafe.jpg" alt="cafe"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Cafe</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$25</p>
					</div>
				</div>

				   <!--producto 14 --->

				   <div class="card-product">
					<div class="container-img">
						<img src="/img/chocolate.jpg" alt="chocolate"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Chocolate</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$25</p>
					</div>
				</div>


				<!--producto 15 --->

				<div class="card-product">
					<div class="container-img">
						<img src="/img/licuados.jpg" alt="licuados"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Licuados</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$25</p>
					</div>
				</div>



				   <!--producto 16--->

                    <div class="card-product">
					<div class="container-img">
						<img src="/img/huaraches.jpg" alt="huaraches"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Huaraches</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$20</p>
					</div>
				</div>

				   <!--producto 17--->

				   <div class="card-product">
					<div class="container-img">
						<img src="/img/gorditas.jpg" alt="gorditas"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>

					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Gorditas</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$20</p>
					</div>
				</div>



				   <!--producto 18--->

				   <div class="card-product">
					<div class="container-img">
						<img src="/img/sopes.jpg" alt="sopes"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>

					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Sopes</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$25</p>
					</div>
				</div>

				   
						
				   <!--producto 19--->

				   <div class="card-product">
					<div class="container-img">
						<img src="/img/tostadas.jpg" alt="tostadas"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>

					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Tostadas de Tinga</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$15</p>
					</div>
				</div>
				   
				   <!--producto 20--->

				   <div class="card-product">
					<div class="container-img">
						<img src="/img/burritos.jpg" alt="burritos"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>

					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Burritos</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$35</p>
					</div>
				</div>
				   
 
				   <!--producto 21--->

				   <div class="card-product">
					<div class="container-img">
						<img src="/img/pambazo.jpg" alt="pambazo"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>

					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Pambazos</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$25</p>
					</div>
				</div>
					
               <!--producto 22--->

				   <div class="card-product">
					<div class="container-img">
						<img src="/img/nachos.jpg" alt="nachos"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>

					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Nachos</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$30</p>
					</div>
				</div>


				<!--producto 23--->

				<div class="card-product">
					<div class="container-img">
						<img src="/img/papasfrancesa.jpg" alt="papas a la francesa"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>

					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Papas a la francesa</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$30</p>
					</div>
				</div>


				<!--producto 24--->

				<div class="card-product">
					<div class="container-img">
						<img src="/img/arroz-leche.jpg" alt="arroz-leche"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>

					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Arroz con leche</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$25</p>
					</div>
				</div>


				<!--producto 25--->

				<div class="card-product">
					<div class="container-img">
						<img src="/img/coctel.jpg" alt="coctel"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>

					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Coctel de frutas</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$25</p>
					</div>
				</div>

				<!--producto 26--->

				<div class="card-product">
					<div class="container-img">
						<img src="/img/helados.jpeg" alt="helados"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>

					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Helados</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$15</p>
					</div>
				</div>
				<!--producto 27--->
				<div class="card-product">
					<div class="container-img">
						<img src="/img/refrescos.jpg" alt="refrescos"/>
						<div class="button-group">
							<span>
								<i class="fa-regular fa-eye"></i>
							</span>
							<span>
								<i class="fa-regular fa-heart"></i>
							</span>
							<span>
								<i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>

					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
						</div>
						<h3>Refrescos</h3>
						<span class="add-cart">
							<i class="fa-solid fa-basket-shopping"></i>
						</span>
						<p class="price">$25</p>
					</div>
				</div>
			</section>
			 <!-- Inicio del footer -->
			 <footer class="footer">
				<div class="section__container footer__container">
				  <div class="footer__logo">
					<img src="/imagen/logo-white.png" alt="logo" />
				  </div>
				  <div class="footer__content">
					<p>
						Bienvenido a Coffe-Itiz, donde se unen la pasión por la comida y
						la hospitalidad genuina. Nuestra historia es una de dedicación a la
						creación de la experiencia de atencion y sabor, desde la obtención de los mejores
						ingredientes hasta la entrega de un sabor unico en cada bocado.
					</p>
					<div>
					  <ul class="footer__links">
						<li>
						  <span><i class="ri-map-pin-2-fill"></i></span>
						  Av Telecomunicaciones, Chinam Pac de Juárez, Iztapalapa, 09208 Ciudad de México, CDMX
						</li>
						<li>
						  <span><i class="ri-mail-fill"></i></span>
						  coffe-itiz@gmail.com
						</li>
					  </ul>
					  <div class="footer__socials">
						<a href="#"><i class="ri-facebook-circle-fill"></i></a>
						<a href="#"><i class="ri-instagram-fill"></i></a>
						<a href="#"><i class="ri-twitter-fill"></i></a>
						<a href="#"><i class="ri-whatsapp-fill"></i></a>
					  </div>
					</div>
				  </div>
				</div>
				<div class="footer__bar">
				  Copyright © 2024 Web Design Mastery -- Coffe-Itiz.
				</div>
			  </footer>
			 
		<script src="/js/usermain.js"></script>				
		<script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
	</body>
</html>