<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacidad</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
		<link rel="stylesheet" href="/css/userstyle.css">
    <link rel="stylesheet" href="/css/privacidadstyle.css">
    <link rel="stylesheet" href="/css/asccestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="icon" href="/icon.png" type="image/x-icon">
</head>
<body>
    <div id="preloader">
        <div class="cup">
          <div class="handle"></div>
          </div>
      </div>
     
        <!-- barra de navegacion -->
        <header class="header">
          <nav>
            <div class="nav__header">
              <div class="nav__logo">
                <a href="#">
                  <img
                    src="/icon.png"
                    alt="logo"
                    class="nav__logo-dark"/>
                  <img
                    src="/icon.png"
                    alt="logo"
                    class="nav__logo-white"/>
                </a>
              </div>
              <div class="nav__menu__btn" id="menu-btn">
                <i class="ri-menu-line"></i>
              </div>
            </div>
            <ul class="nav__links" id="nav-links">
              <li><a href="/components/usuario/home.html">HOME</a></li>
              <li><a href="/components/usuario/special.html">ESPECIAL</a></li>
              <li><a href="/components/usuario/menu.html">MENU</a></li>
              <li><a href="/components/usuario/events.html">MENU FESTIVO</a></li>
              <li><a href="/components/usuario/contact.html">CONTACTANOS</a></li>
              <li><a href="/components/chatbot/bot.html">CHAT-BOT</a></li>
              <li><a href="/components/usuario/privacidad.html">PRIVACIDAD</a></li>
              <li><a href="/index.html">SALIR</a></li>
            </ul>
          </nav>
        </header>
     <!-- accesibilidad -->
    <label for="toggle" id="label_toggle"><i class="fa-solid fa-rainbow"></i></label>
    <input type="checkbox" id="toggle">  
            
            <!-- Ingreso al menu -->
      
            <section class="section__container order__container" id="menu">
              <h3>AVISO DE PRIVACIDAD</h3>
              <h2 class="section__header">Para tu confianza</h2>
              <p class="section__description">
              Conoce que datos ocupamos para darte la mejor experiencia
              </p>
              <div class="order__grid1">
                <div class="order__card1">
                  <img src="/imagen/order-1.png" alt="order" />
                  <h4>AVISO DE PRIVACIDAD</h4>
                  <p>
                   ARCHIVO EN PDF
                  </p>
                  <a class="btn" download="Aviso de Privacidad" href="/privacidad.pdf">Descarga aqui</a>
                </div>  
              </div>
            </section>
      
            <!-- Inicio del footer -->
            <footer class="footer">
              <div class="section__container footer__container">
                <div class="footer__logo">
                  <img src="/imagen/logo-white.png" alt="logo" />
                </div>
                <div class="footer__content">
                  <p>
                      Bienvenido a Coffe-Itiz, donde se unen la pasión por la comida y
                      la hospitalidad genuina. Nuestra historia es una de dedicación a la
                      creación de la experiencia de atencion y sabor, desde la obtención de los mejores
                      ingredientes hasta la entrega de un sabor unico en cada bocado.
                  </p>
                  <div>
                    <ul class="footer__links">
                      <li>
                        <span><i class="ri-map-pin-2-fill"></i></span>
                        Av Telecomunicaciones, Chinam Pac de Juárez, Iztapalapa, 09208 Ciudad de México, CDMX
                      </li>
                      <li>
                        <span><i class="ri-mail-fill"></i></span>
                        coffe-itiz@gmail.com
                      </li>
                    </ul>
                    <div class="footer__socials">
                      <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                      <a href="#"><i class="ri-instagram-fill"></i></a>
                      <a href="#"><i class="ri-twitter-fill"></i></a>
                      <a href="#"><i class="ri-whatsapp-fill"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer__bar">
                Copyright © 2024 Web Design Mastery -- Coffe-Itiz.
              </div>
            </footer>
            <script src="https://unpkg.com/scrollreveal"></script>
            <script src="/js/main.js"></script>
            <script src="/js/usermain.js"></script>
            <script src="/js/accmain.js"></script>
</body>
</html>