<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacidad</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
		<link rel="stylesheet" href="/css/userstyle.css">
    <link rel="stylesheet" href="/css/privacidadstyle.css">
    <link rel="stylesheet" href="/css/asccestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="icon" href="/icon.png" type="image/x-icon">
</head>
<body>
    <div id="preloader">
        <div class="cup">
          <div class="handle"></div>
          </div>
      </div>
     
        <!-- barra de navegacion -->
        <header class="header">
          <div id="navbar-container"></div>
        </header>
     <!-- accesibilidad -->
     <div id="cambiocolor"></div>
            
            <!-- Ingreso al menu -->
      
            <section class="section__container order__container" id="menu">
              <h3>AVISO DE PRIVACIDAD</h3>
              <h2 class="section__header">Para tu confianza</h2>
              <p class="section__description">
              Conoce que datos ocupamos para darte la mejor experiencia
              </p>
              <div class="order__grid1">
                <div class="order__card1">
                  <img src="https://cdn.pixabay.com/photo/2017/09/08/23/50/shaking-hands-2730650_640.png" alt="order" />
                  <h4>AVISO DE PRIVACIDAD</h4>
                  <p>
                   ARCHIVO EN PDF
                  </p>
                  <a class="btn" download="Aviso de Privacidad" href="/privacidad.pdf">Descarga aqui</a>
                </div>  
              </div>
            </section>
      
            <!-- Inicio del footer -->
            <footer class="footer">
              <div id="footer-container"></div> 
            </footer>
            <script src="https://unpkg.com/scrollreveal"></script>
            <script src="/components/usuario/navbar.js"></script>
            <script src="/js/usermain.js"></script>
            <script src="/components/usuario/footer.js"></script>            
            <script src="/components/accesibilidad/cambiocolor.js"></script>
</body>
</html>