<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/userstyle.css">
    <link rel="icon" href="/icon.png" type="image/x-icon">
    <title>Menu de temporada</title>
</head>
<body>

    <header class="header">
        <nav>
          <div class="nav__header">
            <div class="nav__logo">
              <a href="#">
                <img
                  src="/imagen/logo-dark.png"
                  alt="logo"
                  class="nav__logo-dark"/>
                <img
                  src="/imagen/logo-white.png"
                  alt="logo"
                  class="nav__logo-white"/>
              </a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
              <i class="ri-menu-line"></i>
            </div>
          </div>
          <ul class="nav__links" id="nav-links">
            <li><a href="/components/usuario/home.html">HOME</a></li>
            <li><a href="/components/usuario/menu.html">MENU</a></li>
            <li><a href="/components/usuario/special.html">SPECIAL</a></li>
            <li><a href="/components/usuario/contact.html">CONTACT US</a></li>
          </ul>
        </nav>
    </header>
        <!--  -->
    <section class="section__container event__container" id="event">
        <div class="event__content">
          <div class="event__image">
            <img src="/imagen/event.png" alt="event" />
          </div>
          <div class="event__details">
            <h3>Descubre</h3>
            <h2 class="section__header">PRÓXIMOS EVENTOS</h2>
            <p class="section__description">
                Desde degustaciones de nuestros diversos platillos y colaboraciones con cocineros 
                hasta iniciativas de extensión comunitaria y celebraciones de temporada, siempre hay algo especial 
                en el horizonte en Coffe-Itiz. Sea el primero en conocer nuestros próximos eventos, promociones
                 y reuniones mientras seguimos brindando alegría y sabor a nuestros queridos clientes. 
                 ¡Únase a nosotros para crear momentos memorables y recuerdos deliciosos juntos!
            </p>
          </div>
        </div>
      </section>
     
     <!-- Inicio del footer  -->
      <footer class="footer">
        <div class="section__container footer__container">
          <div class="footer__logo">
            <img src="/imagen/logo-white.png" alt="logo" />
          </div>
          <div class="footer__content">
            <p>
                Bienvenido a Coffe-Itiz, donde se unen la pasión por la comida y
                la hospitalidad genuina. Nuestra historia es una de dedicación a la
                creación de la experiencia de atencion y sabor, desde la obtención de los mejores
                ingredientes hasta la entrega de un sabor unico en cada bocado.
            </p>
            <div>
              <ul class="footer__links">
                <li>
                  <span><i class="ri-map-pin-2-fill"></i></span>
                  Av Telecomunicaciones, Chinam Pac de Juárez, Iztapalapa, 09208 Ciudad de México, CDMX
                </li>
                <li>
                  <span><i class="ri-mail-fill"></i></span>
                  coffe-itiz@gmail.com
                </li>
              </ul>
              <div class="footer__socials">
                <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                <a href="#"><i class="ri-instagram-fill"></i></a>
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-whatsapp-fill"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bar">
          Copyright © 2024 Web Design Mastery -- Coffe-Itiz.
        </div>
      </footer>
      <script src="/js/main.js"></script>
</body>
</html>