<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="icon" href="/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/userstyle.css">
</head>
<body>
    <header class="header">
        <nav>
          <div class="nav__header">
            <div class="nav__logo">
              <a href="#">
                <img
                  src="/imagen/logo-dark.png"
                  alt="logo"
                  class="nav__logo-dark"/>
                <img
                  src="/imagen/logo-white.png"
                  alt="logo"
                  class="nav__logo-white"/>
              </a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
              <i class="ri-menu-line"></i>
            </div>
          </div>
          <ul class="nav__links" id="nav-links">
            <li><a href="/components/usuario/home.html">HOME</a></li>
            <li><a href="/components/usuario/special.html">SPECIAL</a></li>
            <li><a href="/components/usuario/events.html">MENU TEMPORADA</a></li>
            <li><a href="/components/usuario/contact.html">CONTACT US</a></li>
          </ul>
        </nav>
        
      </header>
      
    
</body>
</html>