<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
		<link rel="stylesheet" href="/css/userstyle.css">
    <link rel="stylesheet" href="/css/botstyle.css">
    <link rel="stylesheet" href="/css/asccestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="icon" href="/icon.png" type="image/x-icon">
    <title>Chat-bot</title>
</head>
<body>
  <div id="preloader">
    <div class="cup">
      <div class="handle"></div>
      </div>
  </div>
    <!-- barra de navegacion -->
      <header class="header">
        <div id="navbar-container"></div>    
      </header>
      <!-- accesibilidad -->
      <div id="cambiocolor"></div>

      
      <section class="section__container order__container" id="menu">
        <!-- chatbot -->  
      <div class="content">  
      <div class="title">Hola soy BaristaBot</div>
      <div class="chat" id="chat"></div>
      <input type="text" class="input" id="input" placeholder="Que buscas talvez pueda ayudar...." />
      <button class="button" id="button"><i class="ri-send-plane-2-line"></i></button>
      </div>
      </section>



      <!-- Inicio del footer -->
      <footer class="footer">
        <div id="footer-container"></div> 
      </footer>

      <script src="/js/botmain.js"></script>
      <script src="/js/usermain.js"></script>
      <script src="/components/accesibilidad/cambiocolor.js"></script>
      <script src="https://unpkg.com/scrollreveal"></script>
      <script src="/components/usuario/navbar.js"></script>
      <script src="/components/usuario/footer.js"></script>
      
</body>
</html>