<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/asccestyle.css"> 
    <title>Accesibilidad</title>
</head>
<body>
    
    <label for="toggle" id="label_toggle"><i class="fa-solid fa-rainbow"></i></label>
        <input type="checkbox" id="toggle">
        <div class="contenedor">
            <h1>Accesibilidad a los daltonicos</h1>
            <p>Un daltónico es una persona que tiene una deficiencia en la percepción del color. Esto significa que no pueden ver todos los colores de la misma manera que las personas con visión normal.
            </p>
        </div>
        <script src="/js/accmain.js"></script>
</body>
</html>