<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/asccestyle.css"> 
    <title>Document</title>
</head>
<body>
    <label for="toggle" id="label_toggle"><i class="fa-solid fa-rainbow"></i></label>
        <input type="checkbox" id="toggle">
        <div class="contenedor">
            <h1>modo oscuro</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci eius velit, ullam, sit molestias atque facere totam et earum ab tempora quisquam provident impedit cum id cupiditate soluta vitae. Necessitatibus, inventore. Dolores vero aliquam eligendi veritatis quibusdam praesentium deserunt! Distinctio nam corporis ut totam, eum dignissimos id impedit iste autem labore quisquam saepe voluptatum, nulla expedita cupiditate exercitationem maxime laborum laboriosam earum nesciunt, reiciendis velit cum optio. Nostrum repellendus dicta ut enim consequatur repudiandae labore tempora, error blanditiis facilis officia perspiciatis incidunt corrupti molestias nisi dignissimos quibusdam saepe quam? Ullam non praesentium minima vero fuga sint cum eos similique nulla!</p>
        </div>
        <script src="/js/accmain.js"></script>
</body>
</html>
